<app-toolbar />

<div class="main-content">
  @if (!App.isGameActive()) {
    <div class="info-container">
      <mat-card class="info-card">
        @if (!App.Task.entities().length) {
          <mat-card-header class="info-card-header">
            <mat-card-title>Welcome to the game!</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Start the game by clicking the button on the toolbar
          </mat-card-content>
        } @else {
          <mat-card-header class="info-card-header">
            <mat-card-title>Game Over</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            You lost all your lives. Try again!
          </mat-card-content>
        }
      </mat-card>
    </div>
  } @else {
    <div class="task-grid">
      @for (task of App.Task.entities(); track task.adId) {
        <app-task [task]="task" (taskTaken)="App.solveTask($event)" />
      }
    </div>
  }
</div>
