.main-content {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 64px;
  height: calc(100% - 64px);
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
  margin: 0 auto;
  padding: 16px;
}
