body {
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
}
